<template>

    <div class="modal fade" id="editarContato" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content modal-lg">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">Editar Contato</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form v-on:submit.prevent="cadastrarPessoa()">
                <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Nome:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="nome">
                </div>
                </div>
                <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Telefone:</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" pattern="[0-9]{3}-[0-9]{5}-[0-9]{4}" placeholder="Formato: 000-00000-0000" v-model="telefone"  required>
                </div>
                </div>
                <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">E-mail:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" v-model="email">
                </div>
                </div>
                <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Observação:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="obs">
                </div>
                </div>
            </form>            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" v-on:click=editarContato()>Salvar Alterações</button>
        </div>
        </div>
    </div>
    </div>

</template>

<script>
const axios = require('axios').default
module.exports = {
    props: ['idContato'],
    data: function(){
        return {
                msg: '',
                nome: '',
                telefone: '',
                email:'',
                obs:'',
                id:0
        }
    },
    watch: {
        idContato: {
            immediate: true,
            handler(newValue, oldValue){
                this.obterContato()
            }
        }
    },
    methods: {
        obterContato(){
          this.$axios.get('/contato/'+this.idContato)
            .then(res => {
                console.log(res.data)
                this.nome = res.data[0].nm_contato
                this.telefone = res.data[0].nr_telefone
                this.email = res.data[0].ds_email
                this.obs = res.data[0].ds_observacao
            })
            .catch(error => {
              console.log(error)
            })                      
        },
        editarContato(){
          let fd = new FormData()
          fd.append('nm_contato',this.nome)
          fd.append('nr_telefone',this.telefone)
          fd.append('ds_email',this.email)
          fd.append('ds_observacao',this.obs)
          fd.append('id',this.idContato)
          this.$axios.post('/contato/editar',fd)
            .then(resp => {
                $('#editarContato').modal('hide')
                this.$emit('callback')
            })
            .catch(error => {
              console.log(error)
            })
        }        
    }
}
</script>