<template>

    <div class="modal fade" id="novoContato" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content modal-lg">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">Novo Contato</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
       <form v-on:submit.prevent="cadastrarPessoa()">        
        <div class="modal-body">

                <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Nome:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="nome" required>
                </div>
                </div>
                <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Telefone:</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" pattern="[0-9]{3}-[0-9]{5}-[0-9]{4}" placeholder="Formato: 000-00000-0000" v-model="telefone"  required>
                </div>
                </div>
                <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">E-mail:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" v-model="email" required>
                </div>
                </div>
                <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Observação:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="obs">
                </div>
                </div>    
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary" > Adicionar Contato</button>
        </div>
        </form>        
        </div>
    </div>
    </div>

</template>

<script>
const axios = require('axios').default
module.exports = {
    data: function(){
        return {
                msg: '',
                nome: '',
                telefone: '',
                email:'',
                obs:'',
                id:0
        }
    },
    methods: {        
      cadastrarPessoa(){
          let fd = new FormData()
          fd.append('nm_contato',this.nome)
          fd.append('nr_telefone',this.telefone)
          fd.append('ds_email',this.email)
          fd.append('ds_observacao',this.obs)
          this.$axios.post('/contato', fd)
            .then(resp => {
              console.log(resp)
              this.nome = ''
              this.telefone = 0 
              this.email = 0
              this.obs = ''
              this.$emit('callback')
            })
            .catch(error => {
              alert(error)
              console.log(error)
            })
          return false
      }        
    }
}
</script>