<template>
  <div class="hello">
    <div class="container">

      <hr>
      <div class="row">
          <div class="col-md-4">
            <svg class="bi bi-arrow-repeat" width="2em" height="2em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4 9.5a.5.5 0 00-.5.5 6.5 6.5 0 0012.13 3.25.5.5 0 00-.866-.5A5.5 5.5 0 014.5 10a.5.5 0 00-.5-.5z" clip-rule="evenodd"></path>
              <path fill-rule="evenodd" d="M4.354 9.146a.5.5 0 00-.708 0l-2 2a.5.5 0 00.708.708L4 10.207l1.646 1.647a.5.5 0 00.708-.708l-2-2zM15.947 10.5a.5.5 0 00.5-.5 6.5 6.5 0 00-12.13-3.25.5.5 0 10.866.5A5.5 5.5 0 0115.448 10a.5.5 0 00.5.5z" clip-rule="evenodd"></path>
              <path fill-rule="evenodd" d="M18.354 8.146a.5.5 0 00-.708 0L16 9.793l-1.646-1.647a.5.5 0 00-.708.708l2 2a.5.5 0 00.708 0l2-2a.5.5 0 000-.708z" clip-rule="evenodd"></path>
            </svg>
          </div>      
          <div class="col-md-4">
              LISTA DE CONTATOS
          </div>
            <div class="col-md-4">
              <a href="#" @click="novoContato()">
                <svg class="bi bi-plus text-info" width="2em" height="2em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10 5.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H6a.5.5 0 010-1h3.5V6a.5.5 0 01.5-.5z" clip-rule="evenodd"></path>
                  <path fill-rule="evenodd" d="M9.5 10a.5.5 0 01.5-.5h4a.5.5 0 010 1h-3.5V14a.5.5 0 01-1 0v-4z" clip-rule="evenodd"></path>
                </svg>            
                Novo Contato  
            </a>
            </div>      
      </div>
      <hr>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">NOME</th>
              <th scope="col">TELEFONE</th>
              <th scope="col">E-MAIL</th>
              <th scope="col">OBSERVAÇÃO</th>
              <th scope="col">AÇÕES</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in grid">
              <th scope="row">{{item.id}}</th>
              <td>{{item.nm_contato}}</td>
              <td>{{item.nr_telefone}}</td>
              <td>{{item.ds_email}}</td>
              <td>{{item.ds_observacao}}</td>
              <td>
                  <svg class="bi bi-trash text-danger" width="2em" height="2em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg" v-on:click=deletarPessoa(item.id)>
                    <path d="M7.5 7.5A.5.5 0 018 8v6a.5.5 0 01-1 0V8a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V8a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V8z"></path>
                    <path fill-rule="evenodd" d="M16.5 5a1 1 0 01-1 1H15v9a2 2 0 01-2 2H7a2 2 0 01-2-2V6h-.5a1 1 0 01-1-1V4a1 1 0 011-1H8a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM6.118 6L6 6.059V15a1 1 0 001 1h6a1 1 0 001-1V6.059L13.882 6H6.118zM4.5 5V4h11v1h-11z" clip-rule="evenodd"></path>
                  </svg>
                  <svg class="bi bi-pencil text-success" width="2em" height="2em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg" v-on:click=editarPessoa(item.id)>
                    <path fill-rule="evenodd" d="M13.293 3.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM14 4l2 2-9 9-3 1 1-3 9-9z" clip-rule="evenodd"></path>
                    <path fill-rule="evenodd" d="M14.146 8.354l-2.5-2.5.708-.708 2.5 2.5-.708.708zM5 12v.5a.5.5 0 00.5.5H6v.5a.5.5 0 00.5.5H7v.5a.5.5 0 00.5.5H8v-1.5a.5.5 0 00-.5-.5H7v-.5a.5.5 0 00-.5-.5H5z" clip-rule="evenodd"></path>
                  </svg>
              </td>
            </tr>
          </tbody>
        </table>
        <EditarContato :id-contato=idContatoCorrente @callback="listarContatos"></EditarContato>
        <NovoContato  @callback="listarContatos"></NovoContato>

    </div>
  </div>
</template>

<script>
import EditarContato from './modals/editarContato.vue'
import NovoContato from './modals/novoContato.vue'
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: '',
      nome: '',
      telefone: 0,
      email:'',
      obs:'',
      grid:[],
      idContatoCorrente: 0
    }
  },
  components: {
    EditarContato,
    NovoContato
  },
  mounted(){
    this.listarContatos()
  },
  methods:{
      listarContatos(){
          this.$axios.get('/contatos')
            .then(res => {
                this.grid = res.data
            })
            .catch(error => {
              console.log(error)
            })          
      },
      novoContato(){
        $('#novoContato').modal('show')
      },
      deletarPessoa(id){
          this.$axios.delete('/contato/'+id)
            .then(resp => {
              console.log(resp)
            })
            .catch(error => {
              alert(error)
              console.log(error)
            })
            .finally(e =>{
              alert('Contato Excluído!')
              this.listarContatos()
            })        
      },
      editarPessoa(id){
        this.idContatoCorrente = id
        $('#editarContato').modal('show')
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
